<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: 600px">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Crear Papeletas
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card shadow mb-4">
              <div class="card-body">
              <div class="table-responsive">
                <div class="alert alert-danger" ng-show="error!=''" role="alert">
                  {{error}}
                </div>
              <form autocomplete="off">
                <div class="row">
                    <div class="col-md-5 mb-5">
                      <label for="ruta">Ruta</label>
                      <select id="ruta" ng-change="refreshRoles()" ng-model="papeletas.ruta" class="form-control" style="width:150px">
                          <option value="{{ruta.nid}}" ng-repeat="ruta in routes">{{ruta.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-2 mb-2">
                      <label for="firstName">Tolerancia</label>
                      <input type="number" min="1" style="width:70px" class="form-control" id="tolerancia" ng-model="papeletas.delay" value=1>
                  </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-3 mb-3">
                      <label for="ruta">Fecha</label>
                      <input datetime-picker style="width:200px" class="form-control" ng-model="papeletas.day" date-format="yyyy-MM-dd"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 mb-3">
                      <label for="ruta">Camiones</label>
                      <input type="text" style="width:300px" name="camiones" ng-model="papeletas.camiones" class="form-control" />
                    </div>
                  </div>
              </form>
              </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" ng-click="crearPapeletas()" class="btn btn-primary" role="button" aria-pressed="true">Crear</a>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="askDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: 600px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            Desea Borrar este viaje?
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
      </div>
      <div class="modal-body">
        <div class="card shadow mb-4">
              <div class="card-body">
              Eco: <b>{{viaje.vehicle.description}}</b></br>
              Ruta: <b>{{viaje.route.name}}</b></br>
              Fecha: <b>{{viaje.start_date | date:'short' }}</b>
              </div>
        </div>
      </div>
      <div class="modal-footer">
            <a href="#" ng-click="removeTrip()" class="btn btn-primary" role="button" aria-pressed="true">Si</a>&nbsp;
            <a href="#" ng-click="hideRemoveTrip()" class="btn btn-primary" role="button" aria-pressed="true">No</a>
          </div>
    </div>
  </div>
</div>
