<!DOCTYPE html>
<html lang="en" ng-app="tumsa">

  <head>

    <% include header.html %>

  </head>

  <body id="page-top" ng-controller="RolesCtl">

    <div id="wrapper">
    
    <% include sidebar.html %>     

      <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
          <% include navbar.html %> 

           <div class="container-fluid">

           <h1 class="h3 mb-2 text-gray-800">Roles</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <form class="form-inline my-6 my-lg-0">
                  <button ng-if="current_user.perfil=='admin'" href="#" ng-click="newRole()" class="btn btn-primary" role="button" aria-pressed="true">Crear</button>
                  <button ng-if="current_user.perfil!='admin'" href="#" ng-click="newRole()" class="btn btn-primary" role="button" aria-pressed="true" disabled>Crear</button>
                  &nbsp;
                    <input ng-model="customFilter" class="form-control mr-sm-2" type="search" placeholder="Filtrar" aria-label="Search">
                    <button ng-click="filter()" class="btn btn-outline-success my-2 my-sm-0" type="submit">{{filterTxt}}</button>
                  </form>
              </nav>
              <!--
              <div class="row">
                <div class="col-md-10">
              <div class="btn-group" role="group" aria-label="...">
                <a href="#" ng-click="newRole()" class="btn btn-primary" role="button" aria-pressed="true">Crear</a>&nbsp;
              </div>
              </div>
              <div class="col-md-2">
                <div class="dropdown float-sm-right">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-filter"></i>
                </button>
                <div class="dropdown-menu">
                  <form autocomplete="off">
                    <input type="search" ng-model="customFilter" placeholder="Ruta" />
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Clear Filter</a>
                </div>
                </div>
              </div>
             </div>
           -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table ng-table="tableParams" class="table table-bordered" id="dataTable" width="100%" cellspacing="0" show-filter="false">
                  <tbody>
                    <tr ng-repeat="rol in $data">
                      <td><a href="#" ng-click="edit_role(rol)" role="button"><i class="fas fa-edit"></i></a></td>
                      <td data-title="'Ruta'" sortable="'ruta'" filter="{ruta: 'text'}">{{rol.ruta}}</td>
                      <td data-title="'Horario'" sortable="'hour'" filter="{hour: 'text'}">{{rol.hour}}</td>
                      <td data-title="'Vueltas'" sortable="'rounds'" filter="{rounds: 'text'}">{{rol.rounds}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: 600px">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Rol
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card shadow mb-4">
              <div class="card-body">
              <div class="table-responsive">
              <form autocomplete="off">
                <div class="row">
                    <div class="col-md-4 mb-4">
                      <label for="ruta">Ruta</label>
                      <input type="text" class="form-control" id="route"  ng-model="ruta" ng-keyup="complete(ruta)" required>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="route in routeList" ng-click="fillTextbox(route)">{{route.name}}</li>
                      </ul>
                      <input type="hidden" class="form-control" id="route"  ng-model="role.route" >
                      <input type="hidden" class="form-control" id="nid"  ng-model="role.nid" >
                      <div class="invalid-feedback">
                        El nombre es obligatorio
                      </div>
                    </div>
                    <div class="col-md-2 mb-2">
                      <label for="vueltas">Vueltas</label>
                      <input type="number" style="width:70px" class="form-control" id="vueltas" ng-model="role.rounds" min="1">
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="vueltas">Hora</label>
                      <input type="time" style="width:100px" class="form-control" id="hora" ng-model="role.hour" placeholder="">
                    </div>
                    <div class="col-md-2 mb-2">
                      <label for="tolerancia">Tolerancia</label>
                      <input type="number" style="width:70px" class="form-control" id="tolerancia" ng-model="role.delay" min="1" placeholder="1">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 mb-5">
                      <label for="vueltas">Punto Inicial</label>
                      <select id="rol" ng-model="role.start_point" class="form-control" style="width:150px">
                        <option value="{{place.id}}" ng-repeat="place in places">{{place.description}}</option>
                      </select>
                    </div>
                    <div class="col-md-5 mb-5">
                      <label for="vueltas">Punto Final</label>
                      <select id="rol" ng-model="role.end_point" class="form-control" style="width:150px">
                        <option value="{{place.id}}" ng-repeat="place in places">{{place.description}}</option>
                      </select>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-9 mb-9">
                    <label for="comentarios">Comentarios</label>
                    <textarea class="form-control" ng-model="role.comments">{{role.comments}}</textarea>
                  </div>
                </div>
              </form>
              </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a ng-if="current_user.perfil=='admin'" href="#" ng-click="saveRole()" class="btn btn-primary" role="button" aria-pressed="true">Guardar</a>
            <button ng-if="current_user.perfil!='admin'" href="#" ng-click="saveRole()" class="btn btn-primary" role="button" aria-pressed="true" disabled>Guardar</button>
          </div>
        </div>
      </div>
    </div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
            <% include footer.html %>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    
   <% include scripts.html %>
    <script src="/javascript/dashboard.js"></script>


  </body>

</html>