<!DOCTYPE html>
<html lang="en" ng-app="tumsa">

  <head>

    <% include header.html %>

  </head>

  <body id="page-top" ng-controller="RoutesCtl">

    <div id="wrapper">
    
    <% include sidebar.html %>     

      <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
          <% include navbar.html %> 

           <div class="container-fluid">

           <h1 class="h3 mb-2 text-gray-800">Rutas</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="btn-group" role="group" aria-label="...">
                <a href="./form_ruta" class="btn btn-primary" role="button" aria-pressed="true">Crear</a>
                &nbsp;
                <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Importar</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table ng-table="tableParams" show-filter="true" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Nombre</th>
                      <th>Tiempo Total</th>
                      <th>Fecha Creado</th>
                      <th>Activo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="route in $data">
                      <td><a href="./form_ruta?id={{route.nid}}" role="button"><i class="fas fa-route"></i></a></td>
                      <td>{{route.name}}</td>
                      <td>{{route.total_time}} minutos</td>
                      <td>{{route.created}}</td>
                      <td>{{route.activo}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <% include footer.html %>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    
   <% include scripts.html %>
    <script src="/javascript/dashboard.js"></script>


  </body>

</html>