 <!-- Bootstrap core JavaScript-->
<script src="./jquery/dist/jquery.js"></script>
<script src="./bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="./jquery.easing/jquery.easing.min.js"></script>
<!-- <script src="./vendor/datatables/jquery.dataTables.min.js"></script> -->
    <!-- Page level plugin JavaScript-->
<script src="./angular/angular.js"></script>
<script src="./javascript/datepicker.js"></script>
<script src="./angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="./ng-table/bundles/ng-table.js"></script>
<script src="./javascript/app.js"></script>
<script src="./javascript/bootstrap4-toggle.js"></script>
<script src="./angular-animate/angular-animate.js"></script>
<script src="./angular-toastr/dist/angular-toastr.tpls.js"></script>
