<!-- Sidebar -->
<ul ng-controller="HomeCtl" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="./images/logo_circulo_100x100.png" width="65px" height="65px" />
        </div>
        <div class="sidebar-brand-text mx-3"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard 
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      Divider 
      <hr class="sidebar-divider">
       
      
      <div class="sidebar-heading">
        Modulos
      </div>
    -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/viajes">
            <i class="fas fa-fw fa-road"></i>
            <span>Viajes</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/vehicles">
            <i class="fas fa-fw fa-shuttle-van"></i>
            <span>Camiones</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/rutas">
            <i class="fas fa-fw fa-road"></i>
            <span>Rutas</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/controls">
            <i class="fas fa-fw fa-map-marker-alt"></i>
            <span>Puntos Control</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/roles">
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span>Roles</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/reportes">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Reportes</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Reportes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/papeletas_diarias">Papeletas Diarias</a>
            
          </div>
        </div>
      </li>
-->
    <!-- Divider 
      <hr class="sidebar-divider">

      <div ng-show="current_user.perfil == 'Admins'" class="sidebar-heading">
        Administracion
      </div>

      <li class="nav-item" ng-show='current_user.perfil == "Admins"'>
        <a class="nav-link" href="/users">
          <i class="fas fa-fw fa-users"></i>
          <span>Usuarios</span>
        </a>
      </li>

      <li class="nav-item" ng-show="current_user.perfil == 'Admins'">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Configuracion</span></a>
      </li>

    -->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->