<!DOCTYPE html>
<html lang="en" ng-app="tumsa">

  <head>

    <% include header.html %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
  </head>

  <body id="page-top" ng-controller="VehiclesCtl">

    <div id="wrapper">
    
    <% include sidebar.html %>     

      <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
          <% include navbar.html %> 

           <div class="container-fluid">

           <h1 class="h3 mb-2 text-gray-800">Camiones</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="btn-group" role="group" aria-label="...">

              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table ng-table="tableParams" class="table table-bordered" id="dataTable" width="100%" cellspacing="0" show-filter="false">
                  <!--
                  <thead>
                    <tr>
                      <th>&nbsp;#</th>
                      <th>Unidad</th>
                      <th>Eco</th>
                      <th>Placas</th>
                      <th>Ultimo Reporte</th>
                    </tr>
                  </thead>
                -->
                  <tbody id="dataset">
                    <tr ng-repeat="vehicle in $data">
                      <td><button ng-click="map(vehicle)" class="btn"><i class="fas fa-map-marked-alt"></i></button></td>
                      <td data-title="'Economico'" sortable="'description'" filter="{description: 'text'}">{{vehicle.description}}</td>
                      <td data-title="'Unidad'" sortable="'unit_Description'" filter="{unit_Description: 'text'}">{{vehicle.unit_Description}}</td>
                      <td data-title="'Placas'" sortable="'name'" filter="{registration: 'text'}">{{vehicle.registration}}</td>
                      <td data-title="'Ultimo Reporte'" sortable="'name'" filter="{lastReport: 'text'}"><span class="badge badge-pill badge-{{vehicle.lastReportColor}}">{{vehicle.lastReport | date:'medium' }}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <!-- Logout Modal-->
    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: 600px">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Eco. {{vehicle.description}}
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <center>
          <div class="modal-body" id="map" style="height: 600px; width:100%">&nbsp;</div>
          </center>
        </div>
      </div>
    </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
       <% include footer.html %>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    
   <% include scripts.html %>
    <script src="/javascript/dashboard.js"></script>


  </body>

</html>