<!DOCTYPE html>
<html lang="en" ng-app="tumsa">

  <head>

    <% include header.html %>

  </head>

  <body id="page-top" ng-controller="ViajesCtl">

    <div id="wrapper">
    
    <% include sidebar.html %>     

      <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
          <% include navbar.html %> 

           <div class="container-fluid">

           <h1 class="h3 mb-2 text-gray-800">Viajes</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="btn-group" role="group" aria-label="...">
                <a href="/form_viaje" class="btn btn-primary" role="button" aria-pressed="true">Crear</a>
                &nbsp;
                <a href="#" ng-click="showImport()" class="btn btn-primary" role="button" aria-pressed="true">Subir en Volumen</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table ng-table="tableParams" show-filter="true" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Unidad</th>
                      <th>Tiempo</th>
                      <th>Inicio</th>
                      <th>Fin</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="departure in $data">
                      <td><a href="./api/downloadReport/{{departure.nid}}" target="_blank" role="button"><i class="fas fa-file-pdf" title="Descargar Reporte"></i></a>&nbsp;
                        <a href="#" role="button"><i class="fas fa-clone" title="Crear similar"></i></a>
                      </td>
                      <td>{{departure.vehicle.registration}}</td>
                      <td>{{departure.total_time}}&nbsp;mins.</td>
                      <td>{{departure.start_date | date:'medium' }}</td>
                      <td>{{departure.end_date | date:'medium' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


   <!-- Modal Import -->
      <% include form_modal_viajes.html %> 
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <% include footer.html %>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    
   <% include scripts.html %>
    <script src="/javascript/dashboard.js"></script>


  </body>

</html>