<!DOCTYPE html>
<html lang="en" ng-app="tumsa">

  <head>

    <% include header.html %>
    <style>
    .angularjs-datetime-picker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
    </style>

  </head>

  <body id="page-top" ng-controller="ViajesCtl">

    <div id="wrapper">
    
    <% include sidebar.html %>     

      <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
          <% include navbar.html %> 

           <div class="container-fluid">

           <h1 class="h3 mb-2 text-gray-800">Viajes</h1>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="btn-group" role="group" aria-label="...">
                      <a href="./form_viaje" class="btn btn-primary" role="button" aria-pressed="true">Crear</a>&nbsp;
                      <a href="#" ng-click="showImport()" class="btn btn-primary" role="button" aria-pressed="true">Subir en Volumen</a>      
                  </div>
                </div>
                <form class="form-inline my-6 my-lg-0">
                    <input ng-model="customFilter" class="form-control mr-sm-2" type="search" placeholder="Filtrar" aria-label="Search">
                    <button ng-click="filter()" class="btn btn-outline-success my-2 my-sm-0" type="submit">{{filterTxt}}</button>
                  </form>
              </nav>
              <!--
              <div class="row">
                <div class="col-md-3">

              <div class="btn-group" role="group" aria-label="...">
                <a href="/form_viaje" class="btn btn-primary" role="button" aria-pressed="true">Crear</a>
                &nbsp;
                <a href="#" ng-click="showImport()" class="btn btn-primary" role="button" aria-pressed="true">Subir en Volumen</a>
              </div>
              </div>
              <div class="col-md-3">
                <div class="input-field second">
                  <input type="search" ng-model="customFilter" placeholder="Ruta" />
                </div>
              </div>

              </div>
            -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table ng-table="tableParams" class="table table-bordered table-condensed" id="dataTable" width="100%" cellspacing="0" show-filter="false">
                  <!--
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Ruta</th>
                      <th>Econ&oacute;mico</th>
                      <th>Tiempo</th>
                      <th>Inicio</th>
                      <th>Fin</th>
                    </tr>
                  </thead>
                -->
                  <tbody>
                    <tr ng-repeat="departure in $data">
                      <td><a href="./api/downloadReport/{{departure.nid}}" target="_blank" role="button"><i class="fas fa-file-pdf" title="Descargar Reporte"></i></a>&nbsp;
                        <a href="#" role="button"><i class="fas fa-clone" title="Crear similar"></i></a>
                      </td>
                      <td data-title="'Ruta'" sortable="'ruta'" filter="{ruta: 'text'}">{{departure.ruta}}</td>
                      <td data-title="'Economico'" sortable="'eco'" filter="{eco: 'text'}">{{departure.eco}}</td>
                      <td data-title="'Tiempo Total (mins.)'" sortable="'total_time'" filter="{total_time: 'text'}">{{departure.total_time}}&nbsp;mins.</td>
                      <td data-title="'Inicio'" sortable="'start_date'" filter="{start_date: 'text'}">{{departure.start_date | date:'short' }}</td>
                      <td data-title="'Fin'" sortable="'end_date'" filter="{end_date: 'text'}">{{departure.end_date | date:'short' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


   <!-- Modal Import -->
      <% include form_modal_viajes.html %> 
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <% include footer.html %>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    
   <% include scripts.html %>
    <script src="/javascript/dashboard.js"></script>


  </body>

</html>